/* buttons.css */
.source-btn, .button {
    background: linear-gradient(145deg, #d4af37, #b89128); /* Золотистый градиент */
    color: #1a1a1a;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.source-btn:hover, .button:hover {
    background: linear-gradient(145deg, #b89128, #d4af37);
    color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.big-button {
    display: inline-block;
    background-color: #d4af37; /* Золотой цвет кнопки */
    color: #1a1a1a; /* Тёмный цвет текста */
    padding: 20px 40px; /* Увеличенные отступы для размера кнопки */
    font-size: 24px; /* Большой размер текста */
    text-align: center;
    border-radius: 30px; /* Закруглённые края */
    font-weight: bold;
    text-decoration: none; /* Убираем подчёркивание */
    margin-bottom: 20px; /* Отступ снизу */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Тень для объёма */
    transition: background-color 0.3s ease;
}

/* Анимация при наведении */
.big-button:hover {
    background-color: #b89128; /* Изменение цвета при наведении */
    color: #ffffff; /* Белый текст при наведении */
}