/* header-footer.css */
header {
    background-color: #2e2e2e;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #d4af37;
}

.logo img {
    max-width: 100px; /* Устанавливаем максимальный размер логотипа */
    height: auto;
    display: block;
}

header .logo {
    color: #f5c518;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header .logo:hover {
    color: #ffffff;
}

/* Основной стиль для десктопов */
nav ul {
    display: flex;
    justify-content: center; /* Центрируем элементы */
    padding: 0;
    list-style-type: none; /* Убираем маркеры списка */
    flex-wrap: wrap; /* Чтобы элементы переносились на новую строку при необходимости */
}

nav ul li {
    margin: 0 15px; /* Отступы между элементами */
}

nav ul li a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    font-size: 18px;
    color: #f5f5f5; /* Цвет текста */
    padding: 10px 20px; /* Внутренние отступы */
    border-radius: 5px; /* Скругленные края */
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
}

nav ul li a:hover {
    background-color: #d4af37; /* Цвет при наведении */
    color: #000; /* Цвет текста при наведении */
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Меняем направление на вертикальное для маленьких экранов */
        align-items: center; /* Центрируем по горизонтали */
    }

    nav ul li {
        margin: 10px 0; /* Увеличиваем отступы между кнопками в вертикальном режиме */
    }

    nav ul li a {
        font-size: 16px; /* Уменьшаем размер шрифта для мобильных устройств */
        padding: 10px 15px; /* Уменьшаем внутренние отступы для кнопок на мобильных */
    }
}

footer {
    background-color: #2e2e2e;
    text-align: center;
    padding: 20px;
    color: #f5f5f5;
}

