
/* responsive.css */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        font-size: 24px;
        margin-bottom: 10px;
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    nav a {
        margin: 10px 0;
    }

    .section-title {
        font-size: 28px;
    }

    .section-content {
        font-size: 16px;
    }

    #tree {
        height: 400px;
    }

    .button {
        font-size: 16px;
    }

    @media (max-width: 768px) {
        header {
            flex-direction: column;
            align-items: center; /* Логотип и навигация по центру */
        }
    
        .nav-list {
            flex-direction: column;
            gap: 10px; /* Уменьшение расстояния между пунктами меню */
        }
    
        .instructions {
            max-width: 100%; /* Полная ширина на телефоне */
            padding: 10px; /* Уменьшенные отступы */
        }
    
        #tree {
            height: 400px; /* Уменьшение высоты схемы на мобильных */
        }
    
        .button, .source-btn {
            font-size: 14px; /* Уменьшение размера текста на кнопках */
            padding: 10px 20px;
        }
    }

    @media (max-width: 768px) {
        .instructions {
            max-width: 100%; /* Полная ширина на мобильных */
            padding: 10px; /* Уменьшение отступов */
            margin-left: 10px; /* Отступ от левого края для лучшей читаемости */
        }
    
        .instructions h3 {
            font-size: 18px; /* Уменьшение размера заголовка на мобильных */
        }
    
        .instruction-item img {
            width: 30px; /* Уменьшение размера иконок на телефоне */
            margin-right: 10px; /* Меньший отступ между иконками и текстом */
        }
    
        .instruction-item p {
            font-size: 14px; /* Уменьшение текста для мобильных устройств */
        }
    }

    

    
    @media (max-width: 768px) {
        .section-content {
            font-size: 14px; /* Уменьшаем размер текста */
            line-height: 1.4; /* Уменьшаем межстрочный интервал */
            padding: 10px; /* Уменьшаем отступы для текста */
            max-width: 90%; /* Ограничиваем ширину на мобильных */
            margin: 0 auto; /* Центрируем текст */
        }
    
        .section-title {
            font-size: 24px; /* Уменьшаем заголовок для мобильных */
        }
    
        .toggle-button {
            display: block; /* Делаем кнопку блочным элементом */
            width: 100%; /* Кнопка на всю ширину */
            position: sticky; /* Кнопка будет "прилипать" к низу родителя */
            bottom: -9px; /* Фиксируем внизу элемента */
            margin-top: 20px; /* Отступ сверху */
            z-index: 1; /* Кнопка всегда видима поверх контента */
            background-color: #d4af37; /* Фон кнопки */
            color: #1a1a1a; /* Цвет текста */
        }
    }
    




    

    


    
    



}

